.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Add some space at the top */
}

.form input {
  width: 300px;
  height: 40px; /* Reduce the height */
  margin: 10px;
  padding-left: 10px; /* Add padding */
  font-size: 16px; /* Reduce the font size */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px;
}

.form button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px; /* Add some space at the top */
}

.form button:hover {
  background-color: #45a049;
}

.form button:active {
  transform: translateY(1px);
}

.card {
  width: 500px;
  height: 180px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px 0; /* Add more margin */
  padding: 20px; /* Add padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; /* Light background color */
}

.card h1 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
}

#updateInput {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}